//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================
.table thead th,
.table tfoot th {
  vertical-align: top;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}